* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  height: 22vh;
  background-color: #d9d9d9;
}

main {
  height: calc(100vh - 2 * 22vh);
  background-color: #a4a4a4;
  display: flex;
}

main aside {
  background-color: #c0bdbd;
  width: 27%;
}

main article {
  width: calc(100% - 2 * 27%);
  background-color: #a4a4a4;
}

main article section.top {
  height: 46%;
  background-color: #827878;
}

main article section.bottom {
  height: 54%;
  background-color: #b7adad;
}
