* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: sans-serif;
}

h1,
h2 {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item {
  border: 1px solid #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.item img {
  width: 100px;
  height: 100px;
}

.item h3 {
  text-align: center;
}
