* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: #2169bb;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}

main {
  height: 400px;
  padding: 20px 0 20px 0;
  display: flex;
  gap: 20px;
  color: grey;
}

main div {
  background-color: #164579;
  height: 100%;
  flex-grow: 1;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
